/* ======================== Course List View Css Start ============================= */
// Note: Main sidebar styles are in _sidebar.scss
// This file should only contain course-list-view specific overrides if needed


/* ======================== Course List View Css End ============================= */